body, html{
    background: #1dcaff;
    padding: 0;
    margin: 0;
}
.main-container{
    width: 400px;
    margin: 0 auto;
    height:300px;
}
.header{
    background: #00aced;
    color: white;
    padding: 20px;
    h1{
        font-family: Arial;
        margin: 0;
        display: inline;
    }
    button{
        float: right;
        background: white;
        border: none;
        width: 30px;
        height:30px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        outline: none;
        &:after{
            content: '';
            width: 3px;
            height: 15px;
            background: #1dcaff;
            display: block;
            position: absolute;
            left: 14px;
            top: 8px;
        }
        &:before{
            content: '';
            width: 15px;
            height: 3px;
            background: #1dcaff;
            display: block;
            position: absolute;
            left: 8px;
            top: 14px;
        }
        &:hover{
            background: #0084b4;
            &:before, &:after{
                background: white;
            }
        }
    }
    .filter{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                font-family: Arial;
                font-size: 12px;
                cursor: pointer;
                color: #003852;
                &:first-child{
                    margin-right: 10px;
                    padding-right: 10px;
                    border-right: 1px solid #003852;
                }
                input{
                    border: none;
                    border-bottom: 1px solid #003852;
                    width: 100px;
                    background: transparent;
                    margin-left: 10px;
                    padding: 3px 5px;
                    color: #003852;
                    outline: none;
                }
            }
        }
    }
}