<div class="title">
    <div class="container">
        <h1>Articles</h1>
    </div>
</div>
<div class="container clearfix">
    <ul class="list" >
        <li ng-repeat="task in todo">
            <div class="info">
                <span ng-click="setEditId(task)">{{task.title}}</span>
                <span class="date">{{task.date | date:'yyyy-MM-dd'}}</span>
            </div>
        </li>
    </ul>
    </ul>
</div>
<div class="container">
    <span ng-click="onAddClick()" class="action">Add new</span>
</div>
